<head>
  <% if !current_user %>
    <meta content="0; url=/" http-equiv="refresh"/>
  <% end %>
</head>

<div id="chitter_header">
  <img src="/images/logo.png" width="50px">
  <div id="chitter_title">Chitter
  </div>
  <% if current_user %>
    <div id="new_container">
      <form action='/comments/<%= @peep.id %>' method='post'>
        comment:
        <textarea id="peep_text_area" name="text"></textarea>
        <input name='user_id' type='hidden' value="<%= session[:user_id] %>">
        <input id="peep_button" type='submit' value='Submit '>
      </form>
    </div>
  <% end %>
</div>
<br>
Peep
<ul id="peeps">
  <li id="peep">
    <div id="peep_text_main"><%= @peep.text %><br></div>
    <% if current_user %>
      <td>
        <div id="peep_text">
          Posted by:
          <%= @peep.user.username %>
          (<%= @peep.timestamp.strftime("%d/%m/%Y") %>
          at
          <%= @peep.timestamp.strftime("%H:%M") %>)
        </div>
      </td>
    <% end %>
  </li>
</ul>
Comments
<ul id="peeps">
  <% @comments.reverse_each do |comment| %>
    <% if comment.peep_id == @id %>
      <li id="comments">
        <div id="peep_text_main"><%= comment.text %><br></div>
        <% if current_user == comment.user %>
          <td>
            <form action="/comments/<%= comment.id %>" method="post">
              <input name="_method" type="hidden" value="delete">
              <input id="trash_icon" src="/images/trash.png" type="image" value="Delete Peep" width="20px">
            </form>
            <form action="/comments/<%= comment.id %>/edit" method="get">
              <input id="edit_icon" src="/images/edit.png" type="image" value="Edit Peep" width="20px">
            </form>
            <div id="peep_text">
              Comment by:
              <%= comment.user.username %>
              (<%= @peep.timestamp.strftime("%d/%m/%Y") %>
              at
              <%= @peep.timestamp.strftime("%H:%M") %>)
            </div>
          </td>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
