
<h2>Peeps</h2>


<ul id="peeps">
  <% @peeps.reverse_each do |peep| %>
  <li id="peep">
    Peep:
    <%= peep.text %><br>
    By:
    <%= peep.user.first_name %>
    <%= peep.user.last_name %><br>
    Handle:
    <%= peep.user.username %><br>
    Posted:
    <%= peep.timestamp %></div>

    <div id="trash_icon"><a href="/"><img src="images/trash.png"></a></div>
    <div id="edit_icon"><a href="/"><img src="images/edit.png"></a></div>

  </li>
<% end %>
</ul>
