
<h2>Peeps</h2>


<ul id="peeps">
  <% @peeps.reverse_each do |peep| %>
  <li id="peep">
    Peep:
    <%= peep.text %><br>
    By:
    <%= peep.user.first_name %>
    <%= peep.user.last_name %><br>
    Handle:
    <%= peep.user.username %><br>
    Posted:
    <%= peep.timestamp %></div>
  </li>
<% end %>
</ul>
