
<h2>Peeps</h2>


<ul id="peeps">
  <% @peeps.reverse_each do |peep| %>
  <li id="peep">
    Peep:
    <%= peep.text %><br>
    By:
    <%= peep.user.first_name %>
    <%= peep.user.last_name %><br>
    Handle:
    <%= peep.user.username %><br>
    Posted:
    <%= peep.timestamp %></div>

    <div id="edit_icon"><a href="/"><img src="images/edit.png"></a></div>

    <% if current_user == peep.user %>
      <td>
        <form action="/peeps/<%= peep.id %>" method="post">
          <input name="_method" type="hidden" value="delete">
          <input id="trash_icon" type="image" src="images/trash.png" value="Delete Peep">
        </form>
      </td>
    <% end %>
  </li>
<% end %>
</ul>
