
<div id="chitter_header" >
  <img width="50px" src="/images/logo.png">
  <div
    id="chitter_title">Chitter
  </div>

  <% if current_user %>
    <div id="new_container">
      <form action='/peeps' method='POST'>
        Peep now!
        <textarea id="peep_text_area" name="text"></textarea>
        <input name='user_id' type='hidden' value="<%= session[:user_id] %>">
        <input id="peep_button" type='submit' value='Submit Peep'>
      </form>
    </div>
  <% end %>
</div>

<ul id="peeps">
  <% @peeps.reverse_each do |peep| %>
      <li id="peep">
      <div id="peep_text_main"><%= peep.text %><br></div>
      <% if current_user == peep.user %>
        <td>
          <form action="/peeps/<%= peep.id %>" method="post">
            <input name="_method" type="hidden" value="delete">
            <input id="trash_icon" type="image" width="20px" src="images/trash.png" value="Delete Peep">
          </form>
          <form action="/peeps/<%= peep.id %>" method="get">
            <input id="edit_icon" type="image" width="20px" src="images/edit.png" value="Edit Peep">
          </form>
          <div id="peep_text">
            Posted by: <%= peep.user.username %> (<%= peep.timestamp.strftime("%d/%m/%Y") %> at <%= peep.timestamp.strftime("%H:%M") %>)
            <a href="/peeps/<%= peep.id %>/comments">comments</a>
          </div>
        </td>
      <% end %>
    </li>
  <% end %>
</ul>
