<% title="Chitter" %>
<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="menubar">
      <div id="logo"><a href="/"><img width="30px" src="images/bird.png"></a></div>
      <a id="menu_link" href="/">home</a><br>
      <% if current_user %>
      <form action='/sessions' id="signin" method='post'>
        <input name='_method' type='hidden' value='delete'>
        <input class="button" type='submit' value='Sign out'>
      </form>
      <div id="welcome"> Welcome, <%= current_user.username %> </div>
      <% end %>
    </div>
    <% if flash[:notice] %>
    <div id='notice'>
      <%= flash[:notice] %>
    </div>
    <% elsif flash[:success] %>
    <div id='notice'>
      <%= flash[:success] %>
    </div>
    <% end %>
    <% if flash[:errors] && !flash[:errors].empty? %>
    Please refer to the following errors below:
    <ul id='errors'>
      <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
      <% end %>
    </ul>
    <% end %>
    <br>
    <%= yield %>
  </body>
  <br>

</html>
